
body {
    background-color: #695a5a;
    margin: auto;
    padding: 0px 384px;
}

a {
    text-decoration: none;
    color: #ca6be4;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #322929;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0px 24px;
}

.header-links {
    display: flex;
    gap: 0.5vw;
}

.header-links a {
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.header-links a:hover {
    background-color: #382f2f;
    color: #fe67c4;
}

/* Intro */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 192px;
    background-color: #322929;
    margin: 12px 0px;
    border-radius: 12px;
    padding: 64px 0px;
}

.intro-headline h1 {
    color: #ff66c4;
    margin: auto;
    font-size: 36px;
}

.intro-text {
    display: flex;
    flex-flow: column nowrap;
    width: 20vw;
    gap: 12px;
}

.intro-subtext p{
    margin: 0px;
    font-size: 18px;
}

.intro-buttons {
    display: flex;
    gap: 12px;
}

.intro-buttons button {
    background-color: #b94062;
    border-radius: 6px;
    color: #f1eaec;
    border-style: none;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.intro-buttons button:hover {
    background-color: #ac3859;
    transition: 0.3s;
}

.intro-buttons button:active {
    transform: translateY(1px)
}

.intro-subtext {
    color: #f1eaec;
}

.intro-img {
    color: #f1eaec;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

.intro-img img {
    border-radius: 8px;
    border: 1px solid gray;
}

.overlay-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 73%;
    left: 5%;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    color: whitesmoke;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-weight: 500;
    height: auto;
    width: auto;
}

.intro-img:hover .overlay-text {
    opacity: 1;
}

.intro-img img:hover {
    filter: grayscale(0.5);
}

/* Additional Info */
.additional-info {
    background-color: rgb(215, 200, 200);
    border-radius: 12px;
    padding: 16px;
    margin: 12px 0px;
}

.additional-info h2 {
    font-size: 32px;
    text-align: center;
    padding: 12px 0px;
    color: #2c2424;
}


.img-sub-1,
.img-sub-3 {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: rgb(205, 190, 190);
    padding: 12px;
    border-radius: 8px;
}

.img-sub-2,
.img-sub-4 {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row-reverse;
    padding: 12px;
    border-radius: 8px;
}

.img-subtext {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.img-p {
    padding: 0px 0px;
    margin: 0px;
}

.img-sub-1 img,
.img-sub-2 img,
.img-sub-3 img,
.img-sub-4 img {
    border-radius: 4px;
    border: 2px solid gray;
}

.img-sub-1 p,
.img-sub-2 p,
.img-sub-3 p,
.img-sub-4 p {
    color: #2c2424;
}

.img-sub-1:hover,
.img-sub-2:hover,
.img-sub-3:hover,
.img-sub-4:hover {
    transform: scale(1.03);
    transition: 0.13s;
    cursor: auto;
}

/* Testimonial */
.testimonial {
    background-color: #9261a1;
    padding: 48px 0px;
    margin: 12px 0px;
    border-radius: 12px;
}

.testimonial p {
    display: flex;
    margin: 0px;
    font-size: 32px;
    padding: 4px 64px;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

/* Call to Action */


.cta-wrap {
    display: flex;
    background-color: #af297c;
    gap: 128px;
    border-radius: 12px;
    justify-content: space-between;
    padding: 18px 96px;
    align-items: center;
    margin: 12px 0px;
}

.cta-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #f1eaec;
}

.cta-info {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #f1eaec;
}

.cta-button button {
    background-color: #891aa8;
    color: rgb(255, 255, 255);
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid #691081;
}

.cta-button p {
    margin: 0px;
    width: 128px;
    height: auto;
}

.cta-button button:hover {
    background-color: #911fb1;
    border: 1px solid #b433d1;
}

/* Footer */
.footer {
    background-color: #322929;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 18px;
    color: whitesmoke;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px ;
}